.App {
  text-align: center;
}
input {
  width: 300рx;
  height: 30px;
  padding: 10px;
  margin: 20px;
  font-size: 18px;
  border-radius: 5px;
}
button:disabled {
  padding: 10px 20px;
  font-size: 18px;
}
button:enabled {
  background-color: blue;
  color: white;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 18px;
  align-items: center;
}
.details {
  text-align: center;
}
.back {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}